---
import Footer from '../../components/landing/Footer.jsx';
import Header from '../../components/landing/Header.vue';
interface Props {
    slim: Boolean;
}

const { slim } = Astro.props
---
<section>
    <Header slim={false} client:load client:only="vue"/>
    <slot />
    <Footer slim={false}/>
</section>
    