---
import LayoutCommon from '../../app/LayoutCommon.astro';
import Footer from '../../components/landing/Footer.jsx';
import Header from '../../components/landing/Header.vue';
---

<LayoutCommon>
  <section>
    <Header slim={false} isLoggedIn={false} client:load client:only='vue' />
    <slot />
    <Footer slim={false} />
  </section>
</LayoutCommon>
