---
import LayoutCommon from './LayoutCommon.astro';
import Footer from './Footer.jsx';
import Header from './Header.vue';
---

<LayoutCommon>
  <section>
    <Header slim={false} isLoggedIn={true} client:load client:only='vue' />
    <div class='p-10'>
      <slot />
    </div>
    <Footer slim={false} />
  </section>
</LayoutCommon>
