---
import '@fontsource/quicksand';
import LandingLayout from '../layouts/admin/Landing.astro';
import { UserProfile } from '../components/Dashboard/UserProfile/UserProfile';
---

<LandingLayout>
  <section class='bg-white'>
    <div class='mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8'>
      <div class='mx-auto max-w-3xl text-center'>
        <h2 class='text-3xl font-bold text-gray-900 sm:text-4xl'>
          You are an administrator
        </h2>

        <p class='mt-4 text-gray-500 sm:text-xl'>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          dolores laborum labore provident impedit esse recusandae facere libero
          harum sequi.
        </p>
        <p class='text-gray-300 mt-5'>
          <UserProfile client:load client:only='react' />
        </p>
      </div>

      <div class='mt-8 sm:mt-12'>
        <dl class='grid grid-cols-1 gap-4 sm:grid-cols-3'>
          <div
            class='flex flex-col rounded-lg bg-orange-100 px-4 py-8 text-center'
          >
            <dt class='order-last text-lg font-medium text-gray-500'>
              Total Sales
            </dt>

            <dd
              class='text-4xl font-extrabold text-orange-800 md:text-5xl bg-opacity-20'
            >
              $4.8m
            </dd>
          </div>

          <div
            class='flex flex-col rounded-lg bg-orange-100 px-4 py-8 text-center'
          >
            <dt class='order-last text-lg font-medium text-gray-500'>
              Official Addons
            </dt>

            <dd
              class='text-4xl font-extrabold text-orange-800 md:text-5xl bg-opacity-20'
            >
              24
            </dd>
          </div>

          <div
            class='flex flex-col rounded-lg bg-orange-100 px-4 py-8 text-center'
          >
            <dt class='order-last text-lg font-medium text-gray-500'>
              Total Addons
            </dt>

            <dd
              class='text-4xl font-extrabold text-orange-800 md:text-5xl bg-opacity-20'
            >
              86
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </section>
</LandingLayout>

<style>
  body {
    font-family: 'Quicksand';
  }
</style>

<script>
  import jwt_decode from 'jwt-decode';
  import { session } from '../store/authStore';
  console.log('session:admin', session.get());

  // const accessToken = session.get().accessToken;

  // const token = () => {
  //   if (accessToken) {
  //     const decodedToken = jwt_decode(accessToken as string);
  //     console.log(
  //       '🚀 ~ file: admin.astro:15 ~ token ~ decodedToken:',
  //       decodedToken,
  //     );
  //     // if (decodedToken.role !=== "ADMIN") {
  //     //   Astro.redirect('/');
  //     // }
  //     return JSON.stringify(decodedToken);
  //   }
  // };
  // const user = token();
  // console.log(user);
</script>
