---
import '@fontsource/quicksand';
import jwt_decode from 'jwt-decode';
import LandingLayout from '../layouts/admin/Landing.astro';
import { AuthApi } from '../api/AuthApi';
import { authStore } from '../store/authStore';

const tokens = localStorage.getItem('fetchedTokens');

const store = authStore.get();

console.log(store);

if (tokens) {
  console.log(tokens);
} else {
  console.log('not found');
}

const token = () => {
  // This should be set from the API Login/Signup call
  Astro.cookies.set(
    'rh-token',
    'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiMTIzMzQ1IiwibmFtZSI6IlNhbnRpYWdvIFJpdmEiLCJlbWFpbCI6InNhbnRpcml2YTE5QGdtYWlsLmNvbSIsInBob25lIjoiMzAwMzgwNTE4MyIsImlzQWRtaW4iOnRydWV9.Oc2zTwaKsd9q3fLZoes8XbxXp3T0233rMUyNC2d1ce4',
  );
  const encodedToken = Astro.cookies.get('rh-token');
  console.log('🚀 ~ file: admin.astro:8 ~ token ~ encodedToken:', encodedToken);
  if (encodedToken) {
    const decodedToken = jwt_decode(encodedToken.value as string);
    console.log(
      '🚀 ~ file: admin.astro:15 ~ token ~ decodedToken:',
      decodedToken,
    );
    if (!decodedToken.isAdmin) {
      Astro.redirect('/');
    }
    return JSON.stringify(decodedToken);
  }
};
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Royal Hostels - Admin</title>
  </head>
  <body>
    <LandingLayout>
      <section class='bg-white'>
        <div
          class='mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8'
        >
          <div class='mx-auto max-w-3xl text-center'>
            <h2 class='text-3xl font-bold text-gray-900 sm:text-4xl'>
              You are an administrator
            </h2>

            <p class='mt-4 text-gray-500 sm:text-xl'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
              dolores laborum labore provident impedit esse recusandae facere
              libero harum sequi.
            </p>
            <p class='text-gray-300 mt-5'>
              {token}
            </p>
          </div>

          <div class='mt-8 sm:mt-12'>
            <dl class='grid grid-cols-1 gap-4 sm:grid-cols-3'>
              <div
                class='flex flex-col rounded-lg bg-orange-100 px-4 py-8 text-center'
              >
                <dt class='order-last text-lg font-medium text-gray-500'>
                  Total Sales
                </dt>

                <dd
                  class='text-4xl font-extrabold text-orange-800 md:text-5xl bg-opacity-20'
                >
                  $4.8m
                </dd>
              </div>

              <div
                class='flex flex-col rounded-lg bg-orange-100 px-4 py-8 text-center'
              >
                <dt class='order-last text-lg font-medium text-gray-500'>
                  Official Addons
                </dt>

                <dd
                  class='text-4xl font-extrabold text-orange-800 md:text-5xl bg-opacity-20'
                >
                  24
                </dd>
              </div>

              <div
                class='flex flex-col rounded-lg bg-orange-100 px-4 py-8 text-center'
              >
                <dt class='order-last text-lg font-medium text-gray-500'>
                  Total Addons
                </dt>

                <dd
                  class='text-4xl font-extrabold text-orange-800 md:text-5xl bg-opacity-20'
                >
                  86
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </section>
    </LandingLayout>
  </body>
</html>
<style>
  body {
    font-family: 'Quicksand';
  }
</style>
