---
import PropertyCard from '../components/landing/PropertyCard';
import SearchBar from '../components/landing/SearchBar.vue';
import LayoutLanding from '../app/LayoutLanding.astro';
import FilterBar from '../components/landing/FilterBar.astro';
import PropertiesList from '../components/landing/PropertiesList';

import type PropertyModel from '../types/property';
import { propertyApi } from '../api/ApiBuilder';
import { searchApi } from '../api/searchApi';

const properties = await propertyApi.getAll();

---

<LayoutLanding>
  <div class='flex flex-nowrap px-[3%] flex-col w-auto justify-center pb-[7%]'>
    <SearchBar client:load client:only='vue' />
    <FilterBar />
    <PropertiesList properties={properties} client:visible />
  </div>
</LayoutLanding>

<script>
  const urlSearchParams = new URLSearchParams(window.location.search);
  const params = Object.fromEntries(urlSearchParams.entries());
  console.log('home:params', params);
</script>
