---
///
import type User from '../types/user';
import { JsonPlaceholderApi } from '../api/JsonPlaceholderApi';

const usersApi = new JsonPlaceholderApi<User>('users');
const users = await usersApi.getAll();
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <ul>
      {users.map(item => <li>{item.name}</li>)}
    </ul>
  </body>
</html>
