---
import { UserHero } from '../../components/Dashboard/UserHero';
import LayoutSideBar from '../../app/LayoutSideBar.astro';
import PropertyCrudTable from '../../features/PropertyCrudTable.vue';
import { propertyApi } from '../../api/ApiBuilder';
import type PropertyModel from '../../types/property';

import { adminApi } from '../../api/AdminApi';

---

<LayoutSideBar>
    <main class='p-4 md:ml-64 h-auto pt-20 z-10'>
        <UserHero client:load />
        <PropertyCrudTable
            client:load
            client:only='vue'
        />
    </main>
</LayoutSideBar>
