---

import { UserHero } from '../components/Dashboard/UserHero';
import MainChart from '../components/Dashboard/MainChart.astro';
import Transactions from '../components/Dashboard/Transactions.astro';
import LayoutSideBar from '../app/LayoutSideBar.astro';
---

<LayoutSideBar>
  <main class='p-4 md:ml-64 h-auto pt-20 z-10'>
    <UserHero client:load />
    <div class='grid grid-cols-2 gap-4 mb-4'>
      <div
        class='p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800'
      >
        <MainChart />
      </div>
      <div
        class='p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800'
      >
        <Transactions />
      </div>
    </div>
  </main>
</LayoutSideBar>
