@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
strong,
input {
  font-family: Quicksand;
}
